@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #ffe8ec;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.apple-container {
    background-color: #f7e1d7;
    border: 8px solid #2e1a1a;
    padding: 70px 40px;
    border-radius: 12px;
    box-shadow: 8px 8px 0 #2e1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minutes {
    color: #000;
    padding: 6px 12px;
    font-size: 40px;
    margin-bottom: 5px;
    text-shadow: 2px 2px #ff8fa3;
    font-style: 'Press Start 2P', cursive;
}

.seconds {
    color: #000;
    padding: 6px 12px;
    font-size: 40px;
    margin-bottom: 5px;
    text-shadow: 2px 2px #ff8fa3;
    font-style: 'Press Start 2P', cursive;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    box-shadow: 6px 6px 0 #2e1a1a;
    border: 6px solid #2e1a1a;
    background-color: #fff;
    margin: 12px;
    display: flex;
}

button img {
    width: 96px; 
    height: 96px;
    image-rendering: pixelated;
    display: block;
}
